{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>XYZ - Courses</title>
		<meta name="description" content="A sidebar menu as seen on the Google Nexus 7 website" />
		<meta name="keywords" content="google nexus 7 menu, css transitions, sidebar, side menu, slide out menu" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
<!-- 		<link rel="stylesheet" type="text/css" href="css/normalize2.css" />

 -->	        <link href="{% static 'courses/static/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

 		<link rel="stylesheet" type="text/css" href="{% static 'courses/static/css/demo2.css'%}" />
		<link rel="stylesheet" type="text/css" href="{% static 'courses/static/css/component2.css'%}" />

		<link href="{% static 'courses/static/vendor/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="{% static 'courses/static/css/normalize3.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'courses/static/css/demo3.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'courses/static/css/component3.css'%}" />


    <!-- Theme CSS -->
    <link href="{% static 'courses/static/css/agency.min.css'%}" rel="stylesheet">

		<script src="{% static 'courses/static/js/modernizr.custom2.js'%}"></script>
	</head>
	<body style="background-color: #f5f5f5;">
		<div class="container" style=" width: 100%;">
			<ul id="gn-menu" class="gn-menu-main" style="z-index: 20;">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
									<input placeholder="Search" type="search" class="gn-search">
									<a class="gn-icon gn-icon-search"><span>ss</span></a>
								</li>
								<li><a class="gn-icon gn-icon-help">Help</a></li>
								<li><a href="/courses/logout/" class="gn-icon gn-icon-cog">Log Out</a></li>
							</ul>
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="">Courses</a></li>
				<li><a href="">XYZ</a></li>
			</ul>
		</div><!-- /container -->

		<div>
		    <section id="portfolio" class="bg-light-gray" style="padding-top: 55px;">


		    	<section class="section section--menu" id="Ceres">
					<span class="link-copy"></span>
					<nav class="menu menu--ceres">
						<ul class="menu__list">
							<li class="menu__item menu__item--current"><a href="#" class="menu__link">About</a></li>
							<li class="menu__item"><a href="#" class="menu__link">Courseware</a></li>
							<li class="menu__item"><a href="#" class="menu__link">Assignments</a></li>
							<li class="menu__item"><a href="#" class="menu__link">Members</a></li>
						</ul>
					</nav>
				</section>
		        
			    <div class="container" style="margin: 0 auto;">

			        <div class="row">

			            <!-- Blog Post Content Column -->
			            <div  class="col-lg-8" style="background-color:#f5f5f5">

			                <!-- Blog Post -->
			                {% for i in post %}
			                <!-- Title -->
			                <h1>{{i.title}}</h1>

			                <!-- Author -->
			                <p class="lead">
			                    by <font color="black" size="5em">{{i.by}}</font>
			                </p>

			                <hr>

			                <!-- Date/Time -->
			                <p><span class="glyphicon glyphicon-time"></span> Posted on {{i.date}}</p>

			                <hr>

			                <!-- Preview Image -->
			                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

			                <hr>

			                <!-- Post Content -->
			                <p class="lead">{{i.content}}</p>

			                <hr>
			                {%endfor%}
			                <!-- Blog Comments -->

			                <!-- Comments Form -->
			                <div class="well">
			                    <h4>Leave a Comment:</h4>

			                    <form action="{% url 'courses:comment' cid %}" role="form" method="POST">
			                    {% csrf_token %}
			                        <div class="form-group">
			                            <textarea name="text" class="form-control" rows="3"></textarea>
			                        </div>
			                        <button type="submit" class="btn btn-primary">Submit</button>
			                    </form>
			                </div>

			                <hr>

			                <!-- Posted Comments -->
			                {% for i in com%}
			                <!-- Comment -->
			                <div class="media">
			                    <a class="pull-left" href="#">
			                        <img class="media-object" src="http://placehold.it/64x64" alt="">
			                    </a>
			                    <div class="media-body">
			                        <h4 class="media-heading">{{i.title}}
			                            <small>{{i.date}}</small>
			                        </h4>
			                        {{i.content}}
			                    </div>
			                </div>
			                {%endfor%}

			            </div>
			            
			            <!-- Blog Sidebar Widgets Column -->
			            <div class="col-md-4">
			                
			                <div class="well">
			                    <h4>Notifications</h4>
			                    {%for i in not%}
			                    <p>{{i.content}}</p>
			                    <h5>On{{i.date}}</h5>
			                    <br>
			                    {%endfor%}
			                </div>
			                
			            </div>
			            

			        </div>
			        <!-- /.row -->

			        <hr>

			        <!-- Footer -->

			    </div>
			    <!-- /.container -->

		    </section>
		</div>

		<footer>
	        <div class="container">
	            <div class="row">
	                <div class="col-md-4">
	                    <span class="copyright">Copyright &copy; XYZ 2016</span>
	                </div>
	                <div class="col-md-4">
	                    <ul class="list-inline social-buttons">
	                        <li><a href="#"><i class="fa fa-twitter"></i></a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-facebook"></i></a>
	                        </li>
	                        <li><a href="#"><i class="fa fa-google"></i></a>
	                        </li>
	                    </ul>
	                </div>
	                <div class="col-md-4">
	                    <ul class="list-inline quicklinks">
	                        <li><a href="#">CS GEEKS</a>
	                        </li>
	                    </ul>
	                </div>
	            </div>
	        </div>
    	</footer>

		<script src="{% static 'courses/static/js/classie.js'%}"></script>
		<script src="{% static 'courses/static/js/gnmenu.js'%}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
		<script src="{% static 'courses/static/js/classie.js'%}"></script>
		<script src="{% static 'courses/static/js/clipboard.min.js'%}"></script>
		<script>
		(function() {
			[].slice.call(document.querySelectorAll('.menu')).forEach(function(menu) {
				var menuItems = menu.querySelectorAll('.menu__link'),
					setCurrent = function(ev) {
						ev.preventDefault();

						var item = ev.target.parentNode; // li

						// return if already current
						if (classie.has(item, 'menu__item--current')) {
							return false;
						}
						// remove current
						classie.remove(menu.querySelector('.menu__item--current'), 'menu__item--current');
						// set current
						classie.add(item, 'menu__item--current');
					};

				[].slice.call(menuItems).forEach(function(el) {
					el.addEventListener('click', setCurrent);
				});
			});

			[].slice.call(document.querySelectorAll('.link-copy')).forEach(function(link) {
				link.setAttribute('data-clipboard-text', location.protocol + '//' + location.host + location.pathname + '#' + link.parentNode.id);
				new Clipboard(link);
				link.addEventListener('click', function() {
					classie.add(link, 'link-copy--animate');
					setTimeout(function() {
						classie.remove(link, 'link-copy--animate');
					}, 300);
				});
			});
		})(window);
		</script>
	</body>
</html>